.footer {
  border-top: 1px solid var(--general-bg-3);
  background: var(--general-bg-2);
  padding: 50px 0 20px;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  max-width: 1295px;
  margin-bottom: 78px;
}

.footer__column {
  max-width: 178px;
  width: 100%;
}

.footer__column:first-child {
  max-width: 394px;
  width: 100%;
}

.footer__text {
  max-width: 304px;
  font-size: 16px;
  margin-top: 15px;
}

.footer__title {
  font-family: "Readex Pro", sans-serif;
  font-size: 22px;
  margin-bottom: 20px;
  line-height: 1.25;
}

.footer__item {
  margin-bottom: 10px;
}

.footer__link {
  color: #333;
  text-decoration: none;
  font-size: 17px;
  transition: var(--transition);
}

.footer__link:hover {
  color: var(--general-text);
}

.footer__bottom {
  border-top: 1px solid var(--general-bg-3);
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__bottom-text {
  font-family: "Readex Pro", sans-serif;
  font-size: 18px;
  color: #666;
}

.footer__bottom-link {
  font-family: "Inter", "Arial", sans-serif;
  color: #333;
  font-size: 18px;
  text-decoration: none;
}

.footer__bottom-link:hover {
  text-decoration: underline;
}

.footer__bottom-text svg {
  transform: translate(0px, 4px);
}
