@import "fonts.css";
@import "reset.css";
@import "global.css";

@import "header.css";
@import "footer.css";


/*================================main============================*/

.offers__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 60px 0 40px 0;
}

.top__title {
  font-family: "Readex Pro", sans-serif;
  font-size: 42px;
  line-height: 125%;
  margin-bottom: 10px;
}

.top__text {
  font-family: "Readex Pro", sans-serif;
  max-width: 628px;
  width: 100%;
  line-height: 1.3;
  font-size: 14px;
}

.offers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 0.1fr 0.5fr 0.1fr;
  gap: 16px;
  align-items: center;
}

.offers__item {
  display: flex;
  background: var(--general-bg);
  box-shadow: 2px -1px 39px -19px #00000041;
  font-size: 15px;
  justify-self: end;
  width: 100%;

  transition: var(--transition);
}

.offers__item:hover {
  transform: translateY(5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.offers__item-img {
  width: 100%;
}

.phones {
  align-items: center;
}

.offers__item:nth-child(1) {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
}

.offers__item:nth-child(1) img {
  padding: 0 42px;
}

.offers__item:nth-child(1) {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
}

.offers__item-title {
  font-size: 32px;
  font-family: "Readex Pro", sans-serif;
  padding: 0 5px;

}

.offers__item-body p {
  padding: 0 5px;
}

.offers__item:nth-child(1) .offers__item-text,
.offers__item:nth-child(2) .offers__item-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: end;
  padding-right: 40px;
}

.offers__item:nth-child(2) {
  grid-row: 3 / -1;
  grid-column: 1 / 3;
  align-items: center;
  max-height: 270px;
  height: 100%;
}

.offers__item:nth-child(2) .offers__item-body {
  display: flex;
  max-height: 270px;
  height: 100%;
}

.offers__item:nth-child(2) img {
  max-height: 270px;
  height: 100%;
}


.offers__item:nth-child(3) {
  grid-column: 3 / 4;
  grid-row: 1 / -2;
  max-height: 792px;
  height: 100%;
}

.offers__item:nth-child(3) .offers__item-body,
.offers__item:nth-child(4) .offers__item-body {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.offers__item:nth-child(3) .offers__item-text,
.offers__item:nth-child(4) .offers__item-text {
  padding: 42px 0;
}

.offers__item:nth-child(4) {
  grid-column: 4 / 5;
  grid-row: 1 / -2;
  align-items: center;
  max-height: 792px;
  height: 100%;
}

.offers__item:nth-child(4) .offers__item-body {
  text-align: center;
}

/* ================================================= */

.products {
  text-align: center;
}

.products__title {
  font-family: "Readex Pro", sans-serif;
  font-size: 42px;
  line-height: 1.25;
  margin-bottom: 10px;
}

.products__subtitle {
  font-family: "Readex Pro", sans-serif;
  font-size: 13px;
  margin-bottom: 59px;
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 28px;
}

.product__item {
  max-width: 302px;
  width: 100%;
  padding-left: 5px;

  transition: var(--transition);
}

.product__item:hover {
  box-shadow: 0 4px 25px #0000001a;
  background: var(--general-bg-3);
  border-radius: 10px;
}

.product__image {
  max-width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.product__info {
  text-align: start;
}

.product-info__title {
  font-family: "Readex Pro", sans-serif;
  font-size: 22px;
  line-height: 1.25;
  margin-bottom: 10px;
}

.product-info__description {
  font-size: 14px;
  max-width: 261px;
  color: #4b4b4b;
  margin-bottom: 15px;
}

.product-info__price {
  font-size: 18px;
}

/* ================================================= */

.collections {
  margin: 0 auto;
  padding-top: 74px;
  text-align: center;
}

.collections__title {
  font-family: "Readex Pro", sans-serif;
  font-size: 42px;
  line-height: 1.25;
  margin-bottom: 10px;
}

.collections__subtitle {
  font-family: "Readex Pro", sans-serif;
  font-size: 13px;
  margin-bottom: 55px;
}

.collections__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
  padding: 0 15px;
}

.collection-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 413px;
  width: 100%;
  background-color: var(--general-bg-2);
  border-radius: 12px;
  padding-top: 41px;
}

.collection-card__category {
  font-family: "Readex Pro", sans-serif;
  font-size: 13px;
}

.collection-card__title {
  font-family: "Readex Pro", sans-serif;
  font-size: 28px;
  line-height: 1.25;
  margin-bottom: 30px;
}


.collection-card__image {
  padding-top: 30px;
  max-width: 100%;
  height: auto;
}

/* ================================================= */

.ideas {
  padding-top: 75px;
  background-color: var(--general-bg);
  text-align: center;
}

.ideas__header {
  margin-bottom: 56px;
}

.ideas__title {
  font-family: "Readex Pro", sans-serif;
  font-size: 42px;
  margin-bottom: 12px;
  line-height: 1.25;
}

.ideas__subtitle {
  font-family: "Readex Pro", sans-serif;
  font-size: 13px;
  color: #000000;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.3;
}

.ideas__content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 35px;
  margin-bottom: 75px;
  flex-wrap: wrap;
}

.ideas__image img {
  max-width: 620px;
  width: 100%;
  height: auto;
  border-radius: 16px;
  display: block;
  object-fit: cover;
}

.ideas__list {
  max-width: 639px;
  text-align: left;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.ideas__item {
  font-size: 24px;
  color: #000000;
  line-height: 1.25;
}

.ideas__link {
  font-size: 24px;
  color: #000000;
  display: inline-flex;
  gap: 3px;
  transition: opacity 0.4s;
}

.ideas__link:hover {
  opacity: 0.7;
}

/* ================================================================= */
.search {
  padding-top: 75px;
  text-align: center;
}

.search__title {
  font-family: "Readex Pro", sans-serif;
  font-size: 42px;
  line-height: 1.25;
  margin-bottom: 24px;
}

.search__form {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 650px;
  margin: 0 auto 18px;
  border: 1px solid #c5c5c5;
  border-radius: 100px;
  padding: 12px 19px;
  background-color: var(--general-bg-2);
}

.search__button {
  background: none;
  border: none;
  margin-right: 24px;
}

.search__input {
  flex: 1;
  border: none;
  font-size: 14px;
  outline: none;
  background: transparent;
}

.search__tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 7px;
  max-width: 535px;
  margin: auto;
}

.search__tag {
  border: 1px solid #c5c5c5;
  background-color: var(--general-bg);
  border-radius: 200px;
  padding: 11px 21px;
  font-size: 14px;

  transition: var(--transition);
}

.search__tag:hover {
  background-color: #f3f3f3;
  border-color: #999;
}

/* ============================================================== */
.subscribe {
  padding-top: 68px;
}

.subscribe__box {
  background: var(--general-bg-3);
  padding: 47px 0 43px;
  border-radius: 16px;
  text-align: center;
  max-width: 935px;
  margin: 0 auto 18px;
}

.subscribe__title {
  font-family: "Readex Pro", sans-serif;
  font-size: 42px;
  line-height: 1.25;
  margin-bottom: 9px;
}

.subscribe__subtitle {
  color: #000000;
  margin-bottom: 40px;
  max-width: 550px;
  margin: auto auto 14px;
}

.subscribe__image img {
  max-width: 233px;
  width: 100%;
  height: auto;
}

.subscribe__form {
  display: flex;
  max-width: 400px;
  margin: 14px auto auto auto;
  border: 1px solid #000;
  border-radius: 100px;
  overflow: hidden;

}

.subscribe__input {
  flex: 1;
  border: none;
  padding: 16px 20px;
  font-size: 1rem;
  outline: none;
  background: transparent;
}

.subscribe__button {
  background-color: #111;
  color: var(--general-bg);
  border: none;
  padding: 16px 32px;
  font-size: 1rem;
  cursor: pointer;

  transition: opacity 0.2s;
}

.subscribe__button:hover {
  opacity: 0.8;
}

/* =============================================================== */
/* ===============================media=========================== */
/* =============================================================== */

@media(max-width: 1100px) {

  .hero__slide-inner {
    gap: 50px;
  }

  .hero__slide-title {
    font-size: 44px;
  }

  .products__list {
    grid-template: repeat(2, 1fr)/ repeat(2, 1fr);
  }

  .collections__list {
    flex-wrap: wrap;
  }

  .footer__top {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(3, 0.15fr);
    justify-content: center;
    gap: 46px 100px;
  }

  .footer__column:first-child {
    grid-column: 1 / 3;
    text-align: center;
  }

}

@media (max-width: 900px) {

  .header__top-inner {
    align-items: center;
  }

  .header__icons {
    margin-right: 0;
  }

  .nav {
    position: fixed;
    inset: 0;
    z-index: 10;
    background: var(--general-bg-2);
    padding: 26vh 15px 30px;
    font-size: 24px;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
  }

  .nav__list {
    flex-direction: column;
    align-items: center;
  }

  .header__icons {
    gap: 0;
  }

  .body--opened-menu .nav {
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
  }

  .burger-icon {
    display: flex;
  }

  .hero__slide-content {
    padding-top: 50px;
    max-width: none;
  }

  .hero__slide-inner {
    display: block;
  }

  .hero__slider-img {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .hero__slide-title {
    font-size: 34px;
  }

}

@media (max-width: 800px) {

  .offers__item-title {
    font-size: 22px;
  }

  .products__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 15px;
    max-width: 100%;
  }

  .products__title {
    font-size: 5.5vw;
  }

  .collections__title {
    font-size: 5.5vw;
  }
}

@media(max-width: 600px) {

  .title {
    font-size: 34px;
  }

  .hero__slider-img img {
    width: 100%;
  }
/* ============================================== */
  .offers {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: .1fr 1fr .1fr;
  }

  .offers__item:nth-child(1) {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
  }

  .offers__item:nth-child(2) {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    justify-content: center;
    height: 100%;
  }

  .offers__item:nth-child(2) img {
    max-height: 125px;
  }

  .offers__item:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    height: 100%;
  }

  .offers__item:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    align-items: start;
    height: 100%;
  }
/* ====================================== */
  .products__subtitle {
    margin-bottom: 20px;
  }

  .product-info__title {
    font-size: 4vw;
  }

  br {
    display: none;
  }

  .product-info__description {
    display: none;
  }

  .product-info__price {
    font-size: 2.8vw;
  }
/* ============================================== */
  .collections {
    padding-top: 20px;
  }

  .collections__subtitle {
    margin-bottom: 20px;
  }
/* =============================================== */
  .ideas__header {
    margin-bottom: 20px;
  }

  .ideas__content {
    margin-bottom: 20px;
  }

  .ideas__list {
    gap: 20px;
  }
/* ==================================================== */
  .search {
    padding-top: 20px;
  }

  .subscribe {
    padding-top: 20px;
  }

  .subscribe__box {
    padding: 10px;
  }

  .subscribe__button {
    padding: 0px 14px;
  }

  /*  ================================*/

  .footer__top {
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }

  .footer__text {
    max-width: 325px;
    margin: 10px auto auto;
  }

  .footer__bottom {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

}

@media (max-width: 480px) {

  .hero__slide-content {
    padding-top: 15px;
  }
/* ====================================== */
  .top {
    margin: 20px 0 30px 0;
  }
/* ===================================== */
  .products {
    padding-top: 10px;
  }
/* ---------------------------------- */
  .ideas {
    padding-top: 10px;
  }

  .ideas__content {
    gap: 10px;
  }

  .ideas__item {
    font-size: 16px;
  }
/* ============================= */
  .subscribe__form {
    flex-direction: column;
    max-width: 90%;
    border-radius: 16px;
  }

  .subscribe__input {
    padding: 12px 16px;
    font-size: 1rem;
  }

  .subscribe__button {
    padding: 12px 0;
    font-size: 1rem;
    width: 100%;
    border-radius: 0 0 16px 16px;
  }

}